<!DOCTYPE html>
<html>
    <head>
        <title>Poirot Blog</title>
    </head>
    <body>
        <header>
            <h1><a href="/">Poirot Blog is a Bridge</a></h1>
        </header>

        <article>
            <time>published: 08.06.2021, 12:14</time>
            <h2><a href="">My first post</a></h2>
            <p> only one guy and, only one fly trying to, make the guest room do.</p>
        </article>

        <article>
            <time>published: 08.06.2021, 12:14</time>
            <h2><a href="">My second post</a></h2>
            <p>Go back to Mississippi, go back to Alabama, go back to South Carolina, go back to Georgia, go back to Louisiana, go back to the slums and ghettos of our northern cities, knowing that somehow this situation can and will be changed.” (Martin Luther King Jr.)</p>
        </article>
    </body>
</html>